.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.task-input {
  margin-bottom: 20px;
}

.task-input input {
  padding: 10px;
  margin-right: 10px;
  width: 300px;
  box-sizing: border-box;
}

.task-input button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border: none;
}

.tasks {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.task-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.edbuttons {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.task-content span {
  flex-grow: 1;
}

.task-content button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
}

.task-content button:first-of-type {
  background-color: #ffc107;
  color: white;
}

.task-content button:last-of-type {
  background-color: #dc3545;
  color: white;
}
